body{
    text-align: center;
}
h2{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
h1{
    font-family: 'Girassol', cursive;
    font-size: 30px;
}
img{
    width: 200px;
    border-radius: 50%;
}
#About{
    background-color: green;
    padding-top: 100px;
    padding-bottom: 100px;
}
#Hobby{
    background-color: darksalmon;
    padding-top: 100px;
    padding-bottom: 100px;
}
.line{
    height: 6px;
    background-color: darkkhaki;
    width: 100px;
    margin: 8px auto;
}
p{
  font-family: 'Indie Flower', cursive;  
    font-size: 20px;
}
.menu{
    list-style: none;
    font-family:monospace;
    float:right;
    top: 10px;
    right: 30px;
    cursor: cell;
    color: cornflowerblue;
    position: fixed;
}
.link{
    color: crimson;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
.link:hover{
    background-color: cyan;
}